<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eno Yao</title>
  </head>
  <body>
    <script src="https://tencent.github.io/omi/packages/omi/dist/omi.js"></script>
    <script>
      const { WeElement, define, html, h, render } = omi;

      require("../AddFolder/AddFolder.js");

      require("../HOC/HOC.js");

      class appOmi extends WeElement {
        render() {
          return h(
            "div",
            null,
            h("add-folder", null),
            h(this.data.title),
            h("omi-hoc", null)
          );
        }

        install() {
          this.data = {
            title: "omi-hoc"
          };
        }
      }

      appOmi.css = `
p{
    color: red;
}
`;
      define("app-omi", appOmi);
      render(
        html`
          <app-omi />
        `,
        "body"
      );
    </script>
  </body>
</html>
