<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eno Yao</title>
  </head>
  <body>
    <script src="https://tencent.github.io/omi/packages/omi/dist/omi.js"></script>
    <script>
      const { WeElement, define, html, h, render } = omi;

      class omiHoc extends WeElement {
        render() {
          return h("add-folder", null);
        }

        install() {
          this.data = {
            title: "omi"
          };
        }
      }

      omiHoc.css = ``;
      define("omi-hoc", omiHoc);
      render(
        html`
          <omi-hoc />
        `,
        "body"
      );
    </script>
  </body>
</html>
